body{
    background: linear-gradient(#0c1389, #00010b);
}

button{
    margin-left: 10px;
}

.optn{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.wrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.card {
    border-radius: 8px;
    color: white;
    margin: 10px;
    width: 44%; /* Change this to fit smaller screens */
    flex: 0 0 auto;
}

@media (min-width: 768px) {
    .card {
        width: 45%; /* Adjust for tablets */
    }
}

@media (min-width: 1024px) {
    .card {
        width: 22%; /* Adjust for desktops */
    }
}

.search-container {
    margin: 10px;
    display: flex;
    align-items: center;
    background: #efecec78;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px 10px;
    transition: background 0.3s, border-color 0.3s, border-width 0.3s; /* Add transitions for both background and border color */
}

.search-container:hover {
    background: rgba(255, 255, 255, 0.78);
    border-color: rgb(45, 169, 144); /* Change the border color on hover */
    border-width: 2.5px; /* Change the border width on hover (adjust the value as needed) */
}

.search-container input[type=text] {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    height: 25px;
    font-size: 16px;
}

.search-container input[type=text]::placeholder {
    color: #000000;
}

h3 {
    margin-left: 20px;
    color: white;
}

.wrapper2 {
    padding: 10px;
}

.card2 {
    float: left;
    border-radius: 8px;
    color: white;
    margin: 10px;
    width: 44%; /* Change this to fit smaller screens */
    flex: 0 0 auto;
    
}

@media (min-width: 768px) {
    .card2 {
        width: 45%; /* Adjust for tablets */
    }
}

@media (min-width: 1024px) {
    .card2 {
        width: 22%; /* Adjust for desktops */
    }
}

